{% extends "base.html" %}
{% load bootstrap3 %}

{% block container %}
    <div class="col-md-4 col-md-offset-4 well">
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    Create task
                </button>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}