{% extends "base.html" %}
{% load bootstrap3 %}

{% block container %}
    <table class="table table-striped">
        <thead>
        <tr>
            <td>Name</td>
            <td>Status</td>
        </tr>
        </thead>
    <tbody>
    {% for task in tasks %}
        <tr>
            <td>
                <a href="{% url 'task.detail' task.pk %}">
                    {{ task.name }}
                </a>
            </td>
            <td>
                {% if task.is_closed %}
                    Closed
                {% elif task.is_resolved %}
                    Resolved
                {% elif task.is_started %}
                    Started
                {% else %}
                    Unplaned
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}