{% extends "base.html" %}
{% load bootstrap3 %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
    $(function() {
       $("#id_assigned_user").on('change', function() {
          $(this).parents('form').submit();
       });
    });
    </script>
{% endblock %}

{% block container %}
    <div>
        <h3>{{ task.name }}</h3>

        <div class="row">
            <div class="col-md-2">Status:</div>
            <div class="col-md-10">
                {% if task.is_closed %}
                    Closed
                {% elif task.is_resolved %}
                    <form action="{% url 'task.close' task.pk %}" method="post">
                        {% csrf_token %}
                        Resolved
                        <button type="submit" class="btn btn-danger">Close task</button>
                    </form>
                {% elif task.is_started %}
                        Started
                        <a href="{% url 'task.resolve' task.pk %}" class="btn btn-danger">Resolve task</a>
                {% else %}
                    <form action="{% url 'task.start' task.pk %}" method="post">
                        {% csrf_token %}
                        Unplaned
                        <button type="submit" class="btn btn-danger">Start task</button>
                    </form>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">Assignee:</div>
            <div class="col-md-4">
                <form method="post" action="{% url 'task.assign_user' task.pk %}">
                    {% csrf_token %}
                    {% bootstrap_form assigned_form layout='inline' %}
                </form>
            </div>
        </div>


        <p class="well-small well">{{ task.description }}</p>
    </div>

    <hr/>
    <h4>Comments:</h4>
    <dt>
        {% for comment in comments %}
        <dt>{{ comment.author_name }}:</dt>
        <dd>{{ comment.message }}</dd>
        {% endfor %}

        <dt>
            {% if request.user.get_full_name %}
                {{ request.user.get_full_name }}
            {% else %}
                {{ request.user.username }}
            {% endif %}:
        </dt>
        <dd>
            <form action="{% url 'task.comment' task.pk %}" method="post">
                {% csrf_token %}
                {% bootstrap_form comment_form layout='inline' %}
                {% buttons %}
                <button type="submit" class="btn btn-primary">
                    Comment
                </button>
            {% endbuttons %}
            </form>
        </dd>
    </dt>
{% endblock %}
