{% extends "base.html" %}
{% load bootstrap3 %}

{% block container %}
    <a href="{% url "project.create"  %}" class="btn btn-primary">New project</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>Shortcut</td>
            <td>Name</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>
                    <a href="{% url 'project.detail' project.pk %}">
                        {{ project.shortcut }}
                    </a>
                </td>
                <td>{{ project.name }}</td>
                <td>
                    <ul class="list-unstyled list-inline">
                        <li>
                            <a href="{% url 'task.create' project.pk %}"> Create task </a>
                        </li>
                        <li>
                            <a href="{% url 'task.list' project.pk %}"> List task </a>
                        </li>
                    </ul>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}