{% load staticfiles %}
{% load bootstrap3  %}
{% block doc %}
<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>
{% block html %}
  <head>
    {% block head %}
    <title>{% block title %}{% endblock title %}</title>

    {% block metas %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock metas %}

    {% block styles %}
    <!-- Bootstrap -->
{#    <link href="{% static "bootstrap/dist/css/bootstrap.css" %}" rel="stylesheet" media="screen">#}
        {% bootstrap_css %}
    {% endblock styles %}
    {% endblock head %}
  </head>
  <body{% block body_attribs %}{% endblock body_attribs %}>
    {% block body %}
    {% block navbar %}
    {% endblock navbar %}

    {% bootstrap_messages %}

    {% block content %}
    {% endblock content %}

    {% block scripts %}
        {% bootstrap_javascript jquery=1 %}
{#    <script src="{% static "jquery/src/jquery.js" %}"></script>#}
{#    <script src="{% static "bootstrap/dist/js/bootstrap.js" %}"></script>#}
    {% endblock scripts %}
    {% endblock body %}
  </body>
{% endblock html %}
</html>
{% endblock doc %}